// font variables
$font-title: "Lango Px Bold";
$font-title-bold: "Lango Px Fat Regular";
$font-text: "Planer Regular";
$font-text-bold: "Planer DemiBold Regular";

// color variables
$bg-color: #d3e8f4;
$bg-header: #f3fbff;

$text-color-light: #55d2e3;
$text-color-dark: #13647a;

$btn-primary-bg: #14a351;
$btn-primary-disabled-bg: #8caab5;
$btn-secondary-bg: #e3f6fc;
$btn-secondary-border: #78909c;

$modal-bg-color: #0d304b;

// breakpoint variables
$bp-small: 600px;
$bp-medium: 768px;
$bp-big: 1024px;
$bp-biggest: 1280px;
$bp-ultrawide: 1480px;
